footer
    .container
        .group
            .span4.text-center
                h4 Work with us:
            .span4.text-center
                p
                    a(href="mailto:connect@codeandcursor.com?subject=Working together") connect@codeandcursor.com
            .span4.text-center
                p
                    a(href="tel:510-545-3574") (510) 545-3574
