
.home-block#home-block-1
    .container
        h1 Code & Cursor
        h2 is a team of experienced software engineers and web designers crafting creative technical solutions.
.home-block#home-block-2
    .container
        h3.text-center We've worked with
        .text-center [company/brand logos]
.home-block#home-block-3
    .container
        h3.text-center We've made
        .group
            .span6
                h4.text-center BRITA
                p.text-center
                    a(href="./brita-curry") Read more...
            .span6
                h4.text-center CACEO
                p.text-center
                    a(href="./caceo") Read more...
.home-block#home-block-4
    .container
        h3.text-center We use
        .text-center [angular, react, rails etc logos]
.home-block#home-block-5
    .container
        h3.text-center We are
        p Code & Cursor has been building custom web applications since 2011. We thrive in complex scenarios that require a creative approach. Code & Cursor is lead by #[b Marlo Longley] and #[b Seth Neill], who met long ago in their freshmen dorm at Wesleyan University. Marlo loves analytics and information design, helping organizations leverage their data flows. Seth is our server and database hero with a penchant for mapping projects.