
.home-block#home-block-1
    .container
        h1 Code & Cursor
        h2 is a team of experienced software engineers and web designers crafting creative technical solutions.
.home-block#home-block-2
    .container
        h3.text-center We've worked with
        .text-center [logos]
.home-block#home-block-3
    .container
        h3.text-center We work in
        .text-center [logos]
.home-block#home-block-4
    .container
        h3.text-center We made
        .group
            .span6
                h4.text-center BRITA
                p.text-center
                    a(href="./brita-curry") Read more...
            .span6
                h4.text-center CACEO
                p.text-center
                    a(href="./caceo") Read more...

.home-block#home-block-5
    .container
        h3.text-center We are
        .group
            .span6
                h4.text-center Marlo
                i.fa.fa-user(aria-hidden="true")

            .span6
                h4.text-center Seth
