
.home-block#home-block-1
    .container
        h1#code Code &nbsp;
        h1#and & &nbsp;
        h1#cursor Cursor
        h2 is a team of experienced web engineers crafting technical solutions to complex problems.


.home-block#home-block-5
    .container
        h3.text-center We are
        p #[u Code & Cursor] has been building custom web applications since 2011. Whether it's organizing complex datasets into meaningful vizualizations, building custom reporting tools, or creating pixel-perfect layouts, we work closely with our clients to provide quality technical products. Code & Cursor is based out of Oakland, CA and is lead by #[u Marlo Longley] and #[u Seth Neill]. Marlo and Seth have a broad range of experience in the tech industry, having worked with early-stage startups, government focused non-profits, and advertising agencies.

.home-block#home-block-2
    .container
        h3.text-center We've worked with
        .group
            .span2
                img(src="./img/logos-02.png" width="120" height="auto")
            .span2
                img(src="./img/logos-07.jpg" width="120" height="auto")

            .span2
                img(src="./img/logos-04.png" width="120" height="auto")
            .span2
                img(src="./img/logos-05.jpg" width="120" height="auto")
            .span2
                img(src="./img/logos-06.jpg" width="120" height="auto")
            .span2
                img(src="./img/logos-03.jpg" width="120" height="auto")

//.home-block#home-block-3
//    .container
//        h3.text-center We've made
//        .group
//            .span6
//                h4.text-center BRITA
//                p.text-center
//                    a(href="./brita-curry") Read more...
//            .span6
//                h4.text-center CACEO
//                p.text-center
//                    a(href="./caceo") Read more...

.home-block#home-block-4
    .container
        h3.text-center We use
        .group
            .span2
                img(src="./img/tools-01.png" width="120" height="auto")
            .span2
                img(src="./img/tools-02.png" width="120" height="auto")
            .span2
                img(src="./img/tools-03.png" width="120" height="auto")
            .span2
                img(src="./img/tools-04.png" width="120" height="auto")
            .span2
                img(src="./img/tools-05.png" width="120" height="auto")
            .span2
                img(src="./img/tools-06.png" width="120" height="auto")
        p We like to pick the right tool for the job. We have experience with a number of CMS, e-commerce, and analytics platforms. We can take your idea from concept to launch, or to assist with a specific portion of your product development.

