//**
// Main Layout Styles
//**

body {
  //background-color: #fafbfb;
  //background-image: url('../img/topography.png');
  color: #474747;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  //border: 1px solid #4fd5d9;
  //margin: 10px;
}

.body-wrap {
  flex: 1;
}

// Responsive styles if needed
// @include responsive($big-break) {
// }
// @include responsive($small-break) {
// }

// Mobile first styles if needed
// @include mobilefirst($big-break) {
// }
// @include mobilefirst($small-break) {
// }
